@import url("https://fonts.googleapis.com/css?family=Raleway:500,700");

.sezzle-checkout-modal-hidden {
    .sezzle-no-thanks:hover {
        transition: 0.15s;
        cursor: pointer;
    }

    @media (max-width: 650px) {
        .sezzle-modal {
            position: relative;
            // top: 0 !important;
            left: 0;
            // padding: 50px 0px 0px;
            // height: 100%;
            max-width: 100%;
            min-width: 320px;
            overflow: auto;
            // margin-left: -50% !important;
            // margin-top: 0 !important;
        }

        .sezzle-modal-logo {
            margin-left: 30% !important;
        }

        .bg_footer {
            // height: 100px !important;
            padding: 20px 30px !important;
        }

        .sezzle-footer-text-link {
            line-height: 1.68 !important;
            padding-bottom: 0 !important;
        }
    }

    @media(height: 812px) {
        .sezzle-modal {
            height: 95%;
        }
    }

    @media(height: 823px) {
        .sezzle-modal {
            height: 90%;
        }
    }

    @media (max-width: 320px) {
        .bg_footer {
            // height: 140px !important;
        }
    }

    .szl-container {
        margin: 0px 0px 0px -41px;
    }
    .szl-progressbar {
        counter-reset: step;
    }
    .szl-progressbar li {
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
    }
    .szl-progressbar li:before {
        width: 16px;
        height: 16px;
        content: "";
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: #D1FACD;
    }
    .szl-progressbar li:after {
        width: 100%;
        height: 3px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 8px;
        left: -50%;
        z-index: -1;
    }
    .szl-progressbar li:first-child:after {
        content: none;
    }
    .szl-progressbar li.active:before {
        border-color: #92E289;
    }
    .szl-progressbar li.active + li:after {
        background-color: #92E289;
    }
    .modal-point p {
        margin: 0 0 20px 0;
    }
    .modal-point h2 {
        margin: 0 0 5px 0;
    }
}