.sezzle-checkout-modal-lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999998;
  background-color: rgba(5, 31, 52, 0.57);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: unset;
}

// CSS Reset on the modal-lightbox
.sezzle-checkout-modal-lightbox a,
.sezzle-checkout-modal-lightbox abbr,
.sezzle-checkout-modal-lightbox acronym,
.sezzle-checkout-modal-lightbox address,
.sezzle-checkout-modal-lightbox applet,
.sezzle-checkout-modal-lightbox article,
.sezzle-checkout-modal-lightbox aside,
.sezzle-checkout-modal-lightbox audio,
.sezzle-checkout-modal-lightbox b,
.sezzle-checkout-modal-lightbox big,
.sezzle-checkout-modal-lightbox blockquote,
.sezzle-checkout-modal-lightbox body,
.sezzle-checkout-modal-lightbox canvas,
.sezzle-checkout-modal-lightbox caption,
.sezzle-checkout-modal-lightbox center,
.sezzle-checkout-modal-lightbox cite,
.sezzle-checkout-modal-lightbox code,
.sezzle-checkout-modal-lightbox dd,
.sezzle-checkout-modal-lightbox del,
.sezzle-checkout-modal-lightbox details,
.sezzle-checkout-modal-lightbox dfn,
.sezzle-checkout-modal-lightbox div,
.sezzle-checkout-modal-lightbox dl,
.sezzle-checkout-modal-lightbox dt,
.sezzle-checkout-modal-lightbox em,
.sezzle-checkout-modal-lightbox embed,
.sezzle-checkout-modal-lightbox fieldset,
.sezzle-checkout-modal-lightbox figcaption,
.sezzle-checkout-modal-lightbox figure,
.sezzle-checkout-modal-lightbox footer,
.sezzle-checkout-modal-lightbox form,
.sezzle-checkout-modal-lightbox h1,
.sezzle-checkout-modal-lightbox h2,
.sezzle-checkout-modal-lightbox h3,
.sezzle-checkout-modal-lightbox h4,
.sezzle-checkout-modal-lightbox h5,
.sezzle-checkout-modal-lightbox h6,
.sezzle-checkout-modal-lightbox header,
.sezzle-checkout-modal-lightbox hgroup,
.sezzle-checkout-modal-lightbox html,
.sezzle-checkout-modal-lightbox i,
.sezzle-checkout-modal-lightbox iframe,
.sezzle-checkout-modal-lightbox img,
.sezzle-checkout-modal-lightbox ins,
.sezzle-checkout-modal-lightbox kbd,
.sezzle-checkout-modal-lightbox label,
.sezzle-checkout-modal-lightbox legend,
.sezzle-checkout-modal-lightbox li,
.sezzle-checkout-modal-lightbox mark,
.sezzle-checkout-modal-lightbox menu,
.sezzle-checkout-modal-lightbox nav,
.sezzle-checkout-modal-lightbox object,
.sezzle-checkout-modal-lightbox ol,
.sezzle-checkout-modal-lightbox output,
.sezzle-checkout-modal-lightbox p,
.sezzle-checkout-modal-lightbox pre,
.sezzle-checkout-modal-lightbox q,
.sezzle-checkout-modal-lightbox ruby,
.sezzle-checkout-modal-lightbox s,
.sezzle-checkout-modal-lightbox samp,
.sezzle-checkout-modal-lightbox section,
.sezzle-checkout-modal-lightbox small,
.sezzle-checkout-modal-lightbox span,
.sezzle-checkout-modal-lightbox strike,
.sezzle-checkout-modal-lightbox strong,
.sezzle-checkout-modal-lightbox sub,
.sezzle-checkout-modal-lightbox summary,
.sezzle-checkout-modal-lightbox sup,
.sezzle-checkout-modal-lightbox table,
.sezzle-checkout-modal-lightbox tbody,
.sezzle-checkout-modal-lightbox td,
.sezzle-checkout-modal-lightbox tfoot,
.sezzle-checkout-modal-lightbox th,
.sezzle-checkout-modal-lightbox thead,
.sezzle-checkout-modal-lightbox time,
.sezzle-checkout-modal-lightbox tr,
.sezzle-checkout-modal-lightbox tt,
.sezzle-checkout-modal-lightbox u,
.sezzle-checkout-modal-lightbox ul,
.sezzle-checkout-modal-lightbox var,
.sezzle-checkout-modal-lightbox video {
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: normal;
}

.top-content {
  padding: 30px 30px 20px;
}

.point {
  margin: 10px 25px 5px;

  @media (max-width: 600px) {
    margin: 30px 10px 20px;
  }

  .modal-icon {
    width: 62px;
    float: unset;
    display: block;
    margin: 0 auto 2px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-modal-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-center {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  padding-top: 13px;
  padding-right: 6px;
  text-align: center;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-center {
    padding-top: 6px;
    padding-right: 2px;
    text-align: center;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-right {
  padding-top: 13px;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-modal-title .sezzle-title-text-right {
    padding-top: 6px;
    font-size: 26pt;
  }
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-modal-title {
    font-size: 26px;
    margin: 15px 0 10px;
  }
}
@media (max-width: 375px) {
  .sezzle-checkout-modal-lightbox .sezzle-modal-title {
    font-size: 22px;
    margin: 15px 0 10px;
  }
}
@media (max-width: 320px) {
  .sezzle-checkout-modal-lightbox .sezzle-modal-title {
    font-size: 20px;
    margin: 15px 0 10px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-header-text {
  font-size: 19px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  margin: 10px 70px 13px;
  color: #909699;
  font-weight: 300;
}
@media (max-width: 650px) {
  .sezzle-checkout-modal-lightbox .sezzle-header-text {
    font-size: 19px;
    margin: 15px 30px 30px;
  }
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-header-text {
    font-size: 18px;
    line-height: 26px;
    margin: 20px 30px 30px;
  }
}
@media (max-width: 400px) {
  .sezzle-checkout-modal-lightbox .sezzle-header-text {
    font-size: 18px;
    line-height: 26px;
    margin: 5px 30px 30px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-sub-header-text {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  margin: 0 10%;
  opacity: 0.8;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-sub-header-text {
    margin-top: 25px;
    font-size: 12px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-footer-text {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16pt;
  color: #666;
  text-align: center;
  padding: 0 40px 21px;
  display: block;
  border-radius: 0 0 20px 20px;
  background-color: #f1f4f6;
}
@media (max-width: 650px) {
  .sezzle-checkout-modal-lightbox .sezzle-footer-text {
    border-radius: 0px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-simply-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px;
  background-color: #f1f4f6;
  padding: 15px 30px 10px;
}
@media (max-width: 690px) {
  .sezzle-checkout-modal-lightbox .sezzle-simply-select {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-simply-select {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .sezzle-checkout-modal-lightbox .sezzle-simply-select {
    font-size: 13px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-simply-select img {
  height: 35px !important;
  padding-right: 6px;
}
@media (max-width: 690px) {
  .sezzle-checkout-modal-lightbox .sezzle-simply-select img {
    height: 26px !important;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-simply-select .sezzle-inline-text-left {
  padding-top: 3px;
  padding-right: 6px;
}

.sezzle-checkout-modal-lightbox .sezzle-simply-select .sezzle-inline-text-right {
  padding-top: 3px;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal-hidden {
  transition: all 0.4s ease;
  margin-top: 0;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -384px;
  margin-left: -325px;

  z-index: 99999998;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(5, 31, 52, 0.19), 0 6px 6px rgba(5, 31, 52, 0.2);
  border-radius: 20px;
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  transition: all 0.4s ease;
  width: 650px;
}
@media (max-width: 650px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 50px 20px;
    margin: 0;
    border-radius: 0;
    height: 100%;
    font-size: 15px;
    max-width: 100%;
    min-width: 320px;
    overflow: auto;
  }
}
@media (max-height: 767px) and (min-width: 651px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 20px auto;
  }
}

.modal-description {
  width: unset;
  float: unset;
  text-align: center;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-visible-flex {
  display: -ms-flexbox;
  display: flex;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal h1 {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal h1 .sezzle-checkout-modal h1 {
    font-size: 16px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
  height: 65px !important;
  display: block;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
    height: 45px !important;
  }
}
@media (max-width: 375px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-modal-logo {
    height: 40px !important;
    height: 35px !important;
  }
}

@media (max-width: 600px) {
  .sezzle-checkout-modal-lightbox .sezzle-hide-600 {
    display: none;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal p {
  display: block;
  text-align: center;
  text-transform: none;
  font-size: 12pt;
  line-height: 25px;
  font-weight: 300;
  box-sizing: border-box;
  color: #7d8588;
  margin: 5px 0 !important;
  letter-spacing: 0.25px;

  @media (max-width: 768px) {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p {
    font-size: 11pt;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 18px;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal p small {
  display: block;
  box-sizing: border-box;
  font-size: 11pt;
  opacity: 0.8;
}
@media (max-width: 450px) {
  .sezzle-checkout-modal-lightbox .sezzle-checkout-modal p small {
    font-size: 7.5pt;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal .sezzle-checkout-button {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal a {
  display: block;
  margin: 4px auto 0;
  color: #17ce6a;
  font-size: 8pt;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: 0.15s;
  opacity: 0.65;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal a:hover {
  transition: 0.1s;
  opacity: 1;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal h2 {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: unset;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal h2 img {
  margin: 0 4px;
  display: inline-block;
  height: 30px !important;
  width: auto;
  position: relative;
  top: 6px;
  vertical-align: initial;
}

.sezzle-checkout-modal-lightbox .sezzle-continue-to-checkout {
  background-color: #17ce6a;
}

.sezzle-checkout-modal-lightbox .sezzle-continue-to-checkout:hover {
  background-color: #02ef72;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal div.sezzle-no-thanks {
  font-size: 40pt;
  color: #b6bdc4;
  font-family: "Arial Rounded", "Helvetica Rounded", Arial, sans-serif;
  opacity: 0.6;
  transition: 0.15s;
  position: absolute;
  top: 30px;
  right: 50px;
}

.sezzle-checkout-modal-lightbox .sezzle-checkout-modal div.sezzle-no-thanks:hover {
  transition: 0.15s;
  opacity: 1;
  cursor: pointer;
}

// CSS Reset on the modal-lightbox
.sezzle-checkout-button-wrapper {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-align: left;
  }

  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px;
  font-size: 15px;

  .sezzle-button-text {
    text-align: center;
    line-height: 23px;
    width: unset;
    margin: 0 auto;
    word-wrap: normal;

    .sezzle-payment-amount {
      font-weight: 900;
      font-size: 1.2em;
    }

    .szl-light-image,
    .szl-dark-image {
      display: inline-block;
      height: 18px !important;
      width: auto !important;
      box-sizing: border-box;
      padding-right: 2.5px;
      margin-left: 1px;
      margin-bottom: -4px;
    }

    .sezzle-learn-more {
      text-decoration: underline;
      cursor: pointer;
      font-size: 8.5px;
      background:none;
      border: none;
      padding: 0px;
    }

    .sezzle-info-icon {
      color: inherit;
      background-color: inherit;
      cursor: pointer;
      border: none;
      padding: 0px;
    }

    .sezzle-question-mark-icon {
      height: 12px;
      width: auto;
      margin-bottom: -0.5px;
      cursor: pointer;
      background:none;
      border: none;
      padding: 0px;
    }
  }

  .sezzle-modal-link {
    cursor: pointer;
  }

  .sezzle-inline-text {
    padding-right: 6px;
    padding-top: 2px;
    @media (max-width: 350px) {
      font-size: 14px;
    }
  }

  /* Center if in additional checkout buttons */
  .additional_checkout_buttons {
    box-sizing: border-box;
    padding: 15px 0;
  }

  .additional_checkout_buttons .sezzle-checkout-button {
    display: block;
    width: 100%;
  }

  /*
  ================
  Text instead of button
  ================
  */
  .sezzle-checkout-text {
    transition: 0.1s;
    background: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    width: auto;
    text-align: center;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.65px;
    line-height: 16px;
    font-weight: 500;
    color: rgba(10, 40, 20, 0.8);
    display: inline-block;

    &:hover {
      cursor: pointer;
      transition: 0.1s;
      color: rgba(10, 40, 20, 1);
    }

    img {
      display: block;
      height: 22px !important;
      margin: 5px 0;
      width: auto;
    }
  }
}

// Sezzle Banner
.sezzle-banner-wrapper {
  display: block;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

#sezzle_banner_image {
  display: block;
  max-width: 340px;
  height: auto;
  width: 95%;
  border-radius: 5px;
}

#sezzle_banner_image:hover {
  cursor: pointer;
}
@media (max-width: 770px) {
  #sezzle_banner_image {
    margin: 0 auto;
  }
}

.sezzle-cart-page-widget {
  .sezzle-la-luna-rose-jewellery {
    .sezzle-button-text {
      width: 200px;
    }
  }
}

.sezzle-hidden {
  display: none !important; // needs to be important in case there are styles added inline
}

.sezzle-test {
  font-size: 15px;
}

// Alignments
.sezzle-checkout-button-wrapper {
  &.sezzle-left {
    text-align: left;
    float: left;
  }

  &.sezzle-center {
    text-align: center;
    float: none;
  }

  &.sezzle-right {
    text-align: right;
    float: right;
  }
}

.sezzle-shopify-info-button {
  overflow: auto;
  &.sezzle-right {
    text-align: right;
    justify-content: right;
    float: right;
    margin: 0;
  }
}
.sezzle-payment-amount {
	zoom: 1;
	float: none;
	font-size: inherit;
	font-weight: inherit;
}

.sezzle-logo {
	opacity: 1;
	float: none;
	background: none;
	vertical-align:baseline;
}

.sezzle-info-icon, .ap-modal-info-link, .qp-modal-info-link, .quadpay-modal-info-link, .affirm-modal-info-link, .klarna-modal-info-link {
	font-size: inherit;
	margin: unset;
	padding: unset;
	max-height: unset;
	max-width: unset;
	min-height: unset;
	min-width: unset;
	height: unset;
	width: unset;
	background: none;
	border: none;
	box-shadow: none;
}

.sezzle-afterpay-logo {
  vertical-align: baseline;
  max-height: 18px;
  margin-bottom: -1px;
}

.ap-modal-info-link {
  cursor: pointer;
  margin-left: 3px !important;
  color: inherit;
  background:none;
  border: none;
  padding: 0px;
}

.sezzle-quadpay-logo {
  vertical-align: baseline;
  max-height: 10px;
  margin-bottom: -1px !important;
  margin-right: 2px;
}

.quadpay-modal-info-link, .qp-modal-info-link {
  cursor: pointer;
  margin-left: 3px !important;
  color: inherit;
  background:none;
  border: none;
  padding: 0px;
}

.sezzle-affirm-logo {
  vertical-align: baseline;
  max-height: 20px;
  margin-bottom: 12px !important;
  margin-left: -7px;
}

button.affirm-modal-info-link {
  cursor: pointer;
  margin-left: -5px !important;
  color: inherit;
  background:none;
  border: none;
  padding: 0px;
}

.sezzle-klarna-logo {
  vertical-align: baseline;
  max-height: 30px;
  margin-bottom: 3px !important;
  margin-left: 0px;
}

.klarna-modal-info-link {
  cursor: pointer;
  margin-left: 3px !important;
  color: inherit;
  background:none;
  border: none;
  padding: 0px;
}

// Magento styles
.sezzle-payment {
  .sezzle-logo {
    height: 25px;
  }

  .sezzle-text {
    margin-top: 4px;
    float: left;
    margin-left: 10px;
  }

  .sezzle-know-more {
    font-size: 12px;
    padding-top: 0px;
    margin-top: 5px;
  }
}

// .sezzle-checkout-button {
//   &.sezzle-right {
//     margin-right: 0px;
//     justify-content: flex-end;
//   }
// }

.sezzle-button-text {
  &.sezzle-right {
    float: right;
    text-align: right;
  }

  &.sezzle-left {
    text-align: left;
    margin: 0;
  }
}

// Sezzle checkout button
.sezzle-checkout-button {
  width: auto;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: transparent;
  font-family: "Comfortaa", cursive;
  margin-bottom: 10px;
  font-size: 0.8125em;
  letter-spacing: 0.15em;
  background-position: center;
  transition: background 0.8s;
}

.sezzle-button-logo-img {
  position: relative;
  width: 50px;
  top: 3px;
}

.sezzle-button-dark {
  background: #fff;
  color: #392558;

  &:hover {
    background: #eee radial-gradient(circle, transparent 70%, #eee 70%) center/15000%;
    color: #392558;
  }

  &:active {
    background-color: #ccc;
    background-size: 100%;
    color: #392558;
    transition: background 0s;
  }
}

.sezzle-button-light {
  background: #392558;
  color: white;

  &:hover {
    background: #d784ff radial-gradient(circle, transparent 1%, #d784ff 1%) center/15000%;
    color: white;
  }

  &:active {
    background-color: purple;
    background-size: 100%;
    color: white;
    transition: background 0s;
  }
}
